<script src="https://giscus.app/client.js"
        data-repo="gaocegege/blog-comments"
        data-repo-id="R_kgDOGms1JQ"
        data-category="General"
        data-category-id="DIC_kwDOGms1Jc4CAfIx"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
