<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/modernizr.js' | relative_url }}"></script>
<script src="{{ '/assets/js/foundation.min.js' | relative_url }}"></script>
{% if page.imagefeature %}
<script src="{{ '/assets/js/vendor/background-check.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/post-header-animations.js' | relative_url }}"></script>
{% endif %}
<script src="{{ '/assets/js/site.min.js' | relative_url }}"></script>
<script>
    $(document).foundation();
    NProgress.start();
    $(window).on('load', function () { NProgress.done(); });
    $(window).on('beforeunload', function () { NProgress.start(); });
</script>
