{% assign share_url = page.url | absolute_url | uri_escape %}
{% assign share_title = page.title | uri_escape %}
<div class="row text-center">
    <section class="summer-post-share" aria-label="分享文章">
        <a class="weibo-icon" href="https://service.weibo.com/share/share.php?url={{ share_url }}&amp;title={{ share_title }}"
           onclick="window.open(this.href, 'weibo-share', 'width=650,height=500');return false;" title="分享到微博">
            <i class="fa fa-weibo" aria-hidden="true"></i>
        </a>
        <a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"
           onclick="window.open(this.href, 'facebook-share', 'width=580,height=500');return false;" title="Share on Facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        {% if site.owner.twitter %}
        <a class="twitter-icon" href="https://twitter.com/intent/tweet?text={{ share_title }}&amp;url={{ share_url }}&amp;via={{ site.owner.twitter }}"
           onclick="window.open(this.href, 'twitter-share', 'width=650,height=500');return false;" title="Share on X">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %}
    </section>
</div>
