---
layout: default
---
<header class="summer-site-head">
    <div class="summer-site-head-menu">
        {% include navigation.html %}
        <div class="clearfix"></div>
    </div>
    <div class="summer-site-head-content with-bg-cover">
        <h1 class="summer-blog-title">
            <span class="summer-site-head-title-bg">{{ site.title }}</span>
        </h1>
        <h2 class="summer-blog-description">{{ site.description }}</h2>
    </div>
</header>

<main class="summer-content" role="main">
    {{ content }}
</main>

{% include footer.html %}
