---
layout: default
---
{% if page.imagefeature %}
<main id="summer-post-container" class="summer-post-container intro-effect-sliced" role="main">
    <header class="summer-post-header">
        <div class="bg-img"></div>
        <div class="summer-post-menu-header">
            {% include navigation.html %}
        </div>
        <div class="summer-post-title bg-check">
            <h1>{{ page.title }}</h1>
            {% include post_meta.html %}
        </div>
        <div class="bg-img"></div>
    </header>
    <button class="trigger bg-check" data-info="Read more"><span>Trigger</span></button>
    {% assign cover_image = page.imagefeature | remove_first: '/' %}
    {% capture cover_path %}/images/{{ cover_image }}{% endcapture %}
    <img src="{{ cover_path | relative_url }}" alt="cover-image" decoding="async" fetchpriority="high" />
{% else %}
<main id="summer-post-container-simple" class="summer-post-container-simple" role="main">
    <header class="summer-post-header-simple">
        <div class="summer-post-menu-header-simple">
            {% include navigation.html %}
        </div>
        <div class="summer-post-title-simple row">
            <div class="small-12 columns">
                <div class="summer-post-meta-simple">
                    <h1>{{ page.title }}</h1>
                    {% include post_meta.html %}
                </div>
            </div>
        </div>
    </header>
{% endif %}

    <article class="summer-post-content post{% unless page.imagefeature %} tag-simple{% endunless %}">
        <div>{{ content }}</div>
    </article>
    <div class="cf"></div>

    {% if site.share %}{% include share.html %}{% endif %}
    <div class="cf"></div>

    {% include comments.html %}

    {% include signoff.html %}
    <div class="cf"></div>
    {% include footer.html %}
</main>
